.mainbox {
	position: absolute;
	left: 250px;
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 70vw;
	border-left: 2px rgb(196, 190, 190) solid;
	border-right: 2px rgb(196, 190, 190) solid;
}
