.box {
	position: relative;
	margin-left: 30px;
}
.header-box {
	height: 80px;
	border-left: 2px rgb(196, 190, 190) solid;
	border-bottom: 1px rgb(196, 190, 190) solid;
}
.mainbox {
	position: absolute;
	margin: auto;
	display: flex;
	flex-direction: column;
	border-left: 2px rgb(196, 190, 190) solid;
	/*border-right: 2px rgb(196, 190, 190) solid;*/
}
.planViews {
	padding: 100px;
	display: flex;
	flex-direction: column;
}
.planViews-first {
	display: flex;
	flex-direction: row;
}
.planViews-second {
	display: flex;
	flex-direction: row;
}

.planView__relative {
	width: 270px;
	height: 220px;
	border: 1px #1f4d89 solid;
	box-shadow: 2px 2px 5px 0px rgba(173, 173, 173, 1);
	border-radius: 20px;
	margin-right: 100px;
	margin-bottom: 100px;
}
.planView-preview {
	padding: 10px;
	width: 100%;
	height: 60%;
}
.planView-preview {
	content: "";
	display: block;
	width: 93%;
	border-bottom: #1f4d89 1px solid;
}
.planView-desc {
	width: 100%;
	height: 40%;
	padding: 15px;
	/*border-top: black 1px solid;*/
}
.plan-icon {
	margin-right: 10px;
}
.plan-title {
	margin-bottom: 50px;
}
