.logo {
  margin-left: 18px;
  margin-top: 10px;
}
.allBox {
  width: 200px;
}
.leftbox {
  position: absolute;

  width: 200px;
}

.btn {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 40px;
  box-shadow: 3px 3px 5px 1px rgba(150, 148, 150, 1);
  border: 2px solid #1f4d89;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  margin-top: 40px;
  margin-left: 35px;
  z-index: 1;
  transform: height 1s;
}

.btn:active {
  transform: scale(0.98);
  background-color: rgb(231, 225, 218);
  box-shadow: 2px 2px 5px 1px rgba(166, 164, 166, 1);
}

.menu-box {
  position: absolute;
  width: 200px;
  height: 270px;
  background-color: white;
  border: black 1px solid;
  border-radius: 10px;
  margin-left: 15px;
  z-index: 2;
  display: none;
}
.button-icon {
  position: absolute;
  font-size: 30px;
  top: 53px;
  left: 52px;
  z-index: 2;
}
.button-text {
  position: absolute;
  font-size: 15px;
  top: 60px;
  left: 88px;
  color: black;
  z-index: 2;
}
.menu-box__toggle {
  margin-left: 47px;
  margin-top: 10px;
}
.menu-toggle-button {
  margin-bottom: 15px;
  height: 40px;
  width: 100px;
}
.menu-box__cycle {
  margin-top: 10px;
  margin-left: 10px;
}
.menu-box__appoint {
  margin-top: 10px;
  margin-left: 10px;
}
.time {
  width: 80px;
}
.time-checkbox {
}
.time-start {
  margin-top: 5px;
}
.confirm-btn {
  margin-top: 1px;
  margin-left: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px #1f4d89 solid;
  width: 180px;
  height: 30px;
}
.plan-text {
  font-size: 18px;
}
.plans {
  margin-top: 30px;
  margin-left: 40px;
}
.plan {
  margin-left: 15px;
  margin-top: 5px;
}
.plan-top {
  margin-top: 5px;
}

.rel-plan {
}

.imp-plan {
}

.all-plan {
}
