.logo {
	margin-left: 30px;
	margin-top: 10px;
}
.leftbox {
	position: absolute;
	width: 200px;
}

.newPlan {
	all: unset;
	cursor: pointer;
	background-color: rgb(241, 235, 228);
	padding: 5px 0px;
	width: 150px;
	height: 40px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 3px 5px rgba(0, 0, 0, 0.08);
	border: 2px solid rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	font-weight: 800;
	font-size: 12px;
	margin-top: 40px;
	margin-left: 50px;
	z-index: 1;
}

.newPlan:active {
	transform: scale(0.98);
}

.button-icon {
	position: absolute;
	font-size: 35px;
	top: 50px;
	left: 70px;
	z-index: 2;
}
.button-text {
	position: absolute;
	font-size: 15px;
	top: 62px;
	left: 105px;
	color: cadetblue;
	z-index: 2;
}

.plan-text {
	font-size: 18px;
}
.plans {
	margin-top: 30px;
	margin-left: 50px;
}
.plan {
	margin-left: 10px;
}
.plan-top {
	margin-top: 5px;
}

.rel-plan {
}

.imp-plan {
}

.all-plan {
}
